<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Display Rate</title>
</head>

<body>
  <h1>Operation Result</h1>
<p>Your rate is:"<%= Rate %>" Weight:"<%= weight %>" Mail Type:"<%= mType %>"</p>
</body>

</html>
