<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Display Rate</title>
</head>

<body>
  <h1>Your Rate</h1>
<p>Your rate is:"<%= Rate %>$" Weight:"<%= weight %>oz" Mail Type:"<%= mType %>"</p>
</body>

</html>
